In [1]:
class Person:
    
    __mammel = bool(input('Enter?'))
    
    def __init__(self, name, height):
        self.name = name
        self._height = height
        self.__money = int(input('Money?'))
        print(self.__money)
    
    def calculator(self, a, b, operation):
        if operation == '+':
            print(a + b)

Enter?True

In [2]:
abhijeet = Person('Abhijeet', 5.85)

Money?100
100

In [3]:
abhijeet.name

'Abhijeet'

In [4]:
id(Person(12, 34).__mammel) == id(abhijeet.__mammel)

Money?300'

ValueError: invalid literal for int() with base 10: "300'"

In [5]:
print(abhijeet.__money)

AttributeError: 'Person' object has no attribute '__money'

In [6]:
print(2/0)

ZeroDivisionError: division by zero

In [7]:
print(type(NameError))

<class 'type'>

In [8]:
print(type(Exception))

<class 'type'>

In [9]:
a = 10
b = 15

In [10]:
id(a) == id(b)

False

In [11]:
print(type(a), type(b))

<class 'int'> <class 'int'>

In [12]:
amit = Person('Amit', 5.10)

Money?252
252

In [13]:
print(type(abhijeet), type(amit))

<class '__main__.Person'> <class '__main__.Person'>

In [14]:
print(a + b)

25

In [15]:
print(abhijeet + amit)

TypeError: unsupported operand type(s) for +: 'Person' and 'Person'

In [16]:
abhijeet.calculator(20, 50, '+')

70

In [17]:
class Person:
    
    __mammel = True
    
    def __init__(self, name, height):
        self.name = name
        self.height = height
        self.__money = int(input('Money?'))
        print(self.__money)
    
    def __add__(self, other):
        return self.height + other.height

In [18]:
abhijeet = Person('Abhijeet', 5.85)
amit = Person('Amit', 5.10)

Money?1
1
Money?

ValueError: invalid literal for int() with base 10: ''

In [19]:
print(a + b)
print(abhijeet + amit)

25

AttributeError: 'Person' object has no attribute 'height'

In [20]:
print(type(1))

<class 'int'>

In [21]:
class Apna_data_type:
    
    def __init__(self, value):
        self.value = value
    
    def __add__(self, other):
        if type(other) == int and type(self.value) == int:
            return self.value + other
        
        elif type(other) == str and type(self.value) == int:
            return str(self.value) + other
        
        elif type(other) == type(self):
            if type(self.value) == int and type(other.value) == str:
                return str(self.value) + other.value
        else:
            raise AttributeError('Hello my name is Abhijeet')
    
    def __sub__(self, other):
        return self.value - other
    
    def __str__(self):
        return str(self.value)

In [22]:
var = Apna_data_type(50)
temp = Apna_data_type('12')

In [23]:
var.value

50

In [24]:
print(var + 200 + 100)

350

In [25]:
print(var + "hello")

50hello

In [26]:
print(var + temp)

5012

In [27]:
print(var + [123])

AttributeError: Hello my name is Abhijeet

In [28]:
print(temp + var)

None

In [29]:
print(var - 2)

48

In [30]:
# '''
# O| | 
# -----
#  |X| 
# -----
#  | |O
# '''

In [31]:
print(Apna_data_type)

<class '__main__.Apna_data_type'>

In [32]:
import numpy.random
import numpy

In [33]:
print(numpy.random)

<module 'numpy.random' from 'C:\\Users\\bhatt\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python38\\site-packages\\numpy\\random\\__init__.py'>

In [34]:
print(str(50))

50

In [35]:
str(var)

'50'

In [36]:
str(30)

'30'

In [37]:
int({1: 'One'})

TypeError: int() argument must be a string, a bytes-like object or a number, not 'dict'