In [37]:
class Person:
    
    __mammel = bool(input('Enter?'))
    
    def __init__(self, name, height):
        self.name = name
        self._height = height
        self.__money = int(input('Money?'))
        print(self.__money)
    
    def calculator(self, a, b, operation):
        if operation == '+':
            print(a + b)

Enter?True

In [40]:
abhijeet = Person('Abhijeet', 5.85)

Money?100
100

In [41]:
abhijeet.name

'Abhijeet'

In [42]:
id(Person(12, 34).__mammel) == id(abhijeet.__mammel)

Money?200
200

AttributeError: 'Person' object has no attribute '__mammel'

In [43]:
print(abhijeet.__money)

AttributeError: 'Person' object has no attribute '__money'

In [44]:
print(2/0)

ZeroDivisionError: division by zero

In [45]:
print(type(NameError))

<class 'type'>

In [46]:
print(type(Exception))

<class 'type'>

In [47]:
a = 10
b = 15

In [48]:
id(a) == id(b)

False

In [49]:
print(type(a), type(b))

<class 'int'> <class 'int'>

In [50]:
amit = Person('Amit', 5.10)

Money?200
200

In [51]:
print(type(abhijeet), type(amit))

<class '__main__.Person'> <class '__main__.Person'>

In [52]:
print(a + b)

25

In [53]:
print(abhijeet + amit)

TypeError: unsupported operand type(s) for +: 'Person' and 'Person'

In [54]:
abhijeet.calculator(20, 50, '+')

70

In [56]:
class Person:
    
    __mammel = True
    
    def __init__(self, name, height):
        self.name = name
        self.height = height
        self.__money = int(input('Money?'))
        print(self.__money)
    
    def __add__(self, other):
        return self.height + other.height

In [57]:
abhijeet = Person('Abhijeet', 5.85)
amit = Person('Amit', 5.10)

Money?100
100
Money?600
600

In [59]:
print(a + b)
print(abhijeet + amit)

25
10.95

In [61]:
print(type(1))

<class 'int'>

In [213]:
class Apna_data_type:
    
    def __init__(self, value):
        self.value = value
    
    def __add__(self, other):
        if type(other) == int and type(self.value) == int:
            return self.value + other
        
        elif type(other) == str and type(self.value) == int:
            return str(self.value) + other
        
        elif type(other) == type(self):
            if type(self.value) == int and type(other.value) == str:
                return str(self.value) + other.value
        else:
            return 'Not a valid operation'
    
    def __sub__(self, other):
        return self.value - other
    
    def __str__(self):
        return str(self.value)

In [214]:
var = Apna_data_type(50)
temp = Apna_data_type('12')

In [215]:
var.value

50

In [216]:
print(var + 200)

250

In [217]:
print(var + "hello")

50hello

In [218]:
print(var + temp)

5012

In [219]:
print(var + [123])

Not a valid operation

In [220]:
print(temp + var)

None

In [221]:
print(var - 2)

48

In [222]:
# '''
# O| | 
# -----
#  |X| 
# -----
#  | |O
# '''

In [223]:
print(Apna_data_type)

<class '__main__.Apna_data_type'>

In [224]:
import numpy.random
import numpy

In [225]:
print(numpy.random)

<module 'numpy.random' from 'C:\\Users\\bhatt\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python38\\site-packages\\numpy\\random\\__init__.py'>

In [226]:
print(str(50))

50

In [227]:
str(var)

'50'

In [228]:
str(50)

'50'

In [229]:
str(var)

'50'