In [1]:
# Tuples

In [2]:
var = ()

In [3]:
print(type(var))

<class 'tuple'>

In [4]:
print(var)

()

In [5]:
def calculator(a, b):
    return a+b, a-b, a*b, a/b

In [6]:
add, sub, mul, div = calculator(10, 20)

In [7]:
print(add, sub, mul, div)
print(type(add), type(sub), type(mul), type(div))

30 -10 200 0.5
<class 'int'> <class 'int'> <class 'int'> <class 'float'>

In [8]:
print(calculator(10, 20))

(30, -10, 200, 0.5)

In [9]:
var = (1,2,3,4,'string',True)

In [10]:
print(var)

(1, 2, 3, 4, 'string', True)

In [11]:
var[1]

2

In [12]:
for i in var:
    print(i)

1
2
3
4
string
True

In [13]:
var[0] = 100
print(var)

TypeError: 'tuple' object does not support item assignment

In [14]:
calc = calculator(40, 20)
print(calc)

(60, 20, 800, 2.0)

In [15]:
calc[0] = 80

TypeError: 'tuple' object does not support item assignment

In [16]:
def adder(a, b):
    return a+b, a-b

In [17]:
add = adder(1, 2)

In [18]:
type(add)

tuple

In [19]:
add[0]

3

In [20]:
print(var, id(var))

(1, 2, 3, 4, 'string', True) 2546640969632

In [21]:
var = (1,2,3)
print(var, id(var))

(1, 2, 3) 2546641464256

In [22]:
converted_tup = list(var)

In [23]:
type(converted_tup)

list

In [24]:
converted_tup

[1, 2, 3]

In [25]:
converted_tup[0] = 10

In [26]:
converted_tup

[10, 2, 3]

In [27]:
converted_tup = tuple(converted_tup)

In [28]:
converted_tup, type(converted_tup)

((10, 2, 3), tuple)

In [29]:
1,2,3,4

(1, 2, 3, 4)

In [36]:
lst = []
for i in range(20):
    lst.append(i)

In [37]:
lst.reverse()

In [41]:
lst = tuple(lst)
print(lst, len(lst))

(19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0) 20

In [44]:
target = 17
start = 0
end = len(lst) - 1

while(start <= end):
    mid = int((start + end)/2)
    if lst[mid] == target:
        print(mid)
        break
    if lst[mid] < target:
        end = mid - 1
    if lst[mid] > target:
        start = mid + 1

2

In [48]:
var = (1,2,3,4,5,[10,20,30])

In [50]:
var[-1].append(100)
print(var)

(1, 2, 3, 4, 5, [10, 20, 30, 100])

In [53]:
# Dictionaries

In [54]:
d = {}

In [55]:
print(type(d))

<class 'dict'>

In [60]:
d = {
    'A': 'The first alphabet',
    'B': 100,
    2.0: 500,
    'hello': [1,2,3], 
    'another': {
        1:1,
        2:2,
        3:3
    }
}

In [61]:
d

{'A': 'The first alphabet',
 'B': 100,
 2.0: 500,
 'hello': [1, 2, 3],
 'another': {1: 1, 2: 2, 3: 3}}

In [70]:
d['hello'][0]

1

In [75]:
for i in d:
    print(i)

A
B
2.0
hello
another

In [77]:
d['A'] = 'A'

In [79]:
d[100] = 33.33

In [80]:
d

{'A': 'A',
 'B': 100,
 2.0: 500,
 'hello': [1, 2, 3],
 'another': {1: 1, 2: 2, 3: 3},
 100: 33.33}

In [82]:
d.keys()

dict_keys(['A', 'B', 2.0, 'hello', 'another', 100])

In [84]:
d.values()

dict_values(['A', 100, 500, [1, 2, 3], {1: 1, 2: 2, 3: 3}, 33.33])

In [88]:
d.items()

dict_items([('A', 'A'), ('B', 100), (2.0, 500), ('hello', [1, 2, 3]), ('another', {1: 1, 2: 2, 3: 3}), (100, 33.33)])

In [90]:
for i in d.items():
    print(i)

('A', 'A')
('B', 100)
(2.0, 500)
('hello', [1, 2, 3])
('another', {1: 1, 2: 2, 3: 3})
(100, 33.33)

In [92]:
for i in d.values():
    print(i)

A
100
500
[1, 2, 3]
{1: 1, 2: 2, 3: 3}
33.33

In [93]:
all_stuent = {}

for i in range(3):
    marks = int(input('Marks?'))
    name = (input('Name?'))
    age = int(input('Age?'))
    student = {
        'marks': marks,
        'Name': name,
        'Age': age
    }
    all_stuent[i] = student

Marks?50
Marks?Abhijeet
Marks?23
Marks?95
Marks?Vaibhav
Marks?20
Marks?75
Marks?Mudit
Marks?21

In [97]:
all_stuent

{0: {'marks': 50, 'Name': 'Abhijeet', 'Age': 23},
 1: {'marks': 95, 'Name': 'Vaibhav', 'Age': 20},
 2: {'marks': 75, 'Name': 'Mudit', 'Age': 21}}

In [102]:
d.pop('B')

100

In [103]:
d

{'A': 'A',
 2.0: 500,
 'hello': [1, 2, 3],
 'another': {1: 1, 2: 2, 3: 3},
 100: 33.33}

In [104]:
d.get(2.0)

500

In [110]:
b = 10

In [111]:
del b

In [112]:
print(b)

NameError: name 'b' is not defined

In [116]:
d.fromkeys(d, 10)

{'A': 10, 2.0: 10, 'hello': 10, 'another': 10, 100: 10}

In [120]:
var = (1,2,3)

In [125]:
d.fromkeys(var, [20, 30, 40])

{1: [20, 30, 40], 2: [20, 30, 40], 3: [20, 30, 40]}

In [127]:
d[1000] = 1000

In [129]:
d['A'] = 'First Alphabet'

In [134]:
d.update?