In [7]:
def temp(a, b):
    print(c)
    var = a + b
    print(var)

In [8]:
c = 10
temp(1, 2)

10
3

In [9]:
var

NameError: name 'var' is not defined

In [14]:
a = 10

In [15]:
print(type(a))

<class 'int'>

In [20]:
isinstance(a, int)

True

In [29]:
string = 'Hello my name is Abhijeet'

In [31]:
print(string.count('1'))

0

In [39]:
a = 10
b = 5
c = 0
print(f'The value of A: {"10"} of B: {b}')

The value of A: 10 of B: 5

In [40]:
'The value of A is ' + "10"

'The value of A is 10'

In [45]:
class School_members:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('Initialising School member')
        
    def detail(self):
        print(f'Name: {self.name}, Age: {self.age}')

In [52]:
class Teachers(School_members):
    
    def __init__(self, name, age, subject):
        School_members.__init__(self, name, age)
        self.subject = subject
    
    def detail(self):
        School_members.detail(self)
        print('Subject taught:', self.subject)

In [53]:
abhijeet = Teachers('Abhijeet', 23, 'Data Science')

Initialising School member

In [54]:
abhijeet.name

'Abhijeet'

In [56]:
abhijeet.detail()

Name: Abhijeet, Age: 23
Subject taught: Data Science

In [68]:
class Student(School_members):
    
    def __init__(self, name, age, marks):
        super().__init__(name, age)
        self.marks = marks
    
    def detail(self):
        super().detail()
        print('Subject taught:', self.marks)

In [69]:
vipin = Student('Vipin', 22, 95)

Initialising School member

In [70]:
vipin.detail()

Name: Vipin, Age: 22
Subject taught: 95

In [71]:
super?

# File Handling

In [99]:
file = open('C:/Users/bhatt/OneDrive/Desktop/whisper-main/DS_PP_10_DEC_23/Lec14/abhijeet.txt', 'r')

In [100]:
print(file)

<_io.TextIOWrapper name='C:/Users/bhatt/OneDrive/Desktop/whisper-main/DS_PP_10_DEC_23/Lec14/abhijeet.txt' mode='r' encoding='cp1252'>

In [101]:
print(file.read())

Hello World!
My name is Abhijeet.

In [102]:
file.close()

In [115]:
file = open('C:/Users/bhatt/OneDrive/Desktop/whisper-main/DS_PP_10_DEC_23/Lec14/abhijeet.txt', 'r')

In [117]:
print(file.readline())

My name is Abhijeet.

In [113]:
file.close()

In [118]:
string = '''Hello my name is Abhijeet.
            Hello World'''

In [122]:
def print_line():
    print(string.split('\n'))

In [123]:
print_line()

['Hello my name is Abhijeet.', '            Hello World']

In [124]:
string

'Hello my name is Abhijeet.\n            Hello World'